---
import Layout from "../layouts/default.astro";
---

<Layout>
  <nav>
    <a href="open-in">Open in StackBlitz</a>
    <a href="interactive">Interactive</a>
  </nav>
</Layout>

<style>
  body {
    align-items: center;
    justify-content: center;
  }
  a {
    color: #ddd;
    font-size: 120%;
    display: block;
    padding: 4px 8px;
    margin: 8px;
  }
  a:hover {
    color: #fff;
  }
</style>
